body,
code {
    color: #000
}

.btn,
.label {
    border-radius: 0
}

left-nav>li,
li {
    cursor: pointer
}

@font-face {
    font-family: FontAwesome;
    src: url(/fonts/fontawesome-webfont.eot?v=4.0.3);
    src: url(/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3) format('embedded-opentype'), url(../fonts/fontawesome-webfont.woff?v=4.0.3) format('woff'), url(../fonts/fontawesome-webfont.ttf?v=4.0.3) format('truetype'), url(../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular) format('svg');
    font-weight: 400;
    font-style: normal
}

body {
    margin: 50px 0 0;
    font: 14px/21px Roboto
}

h1 {
    margin: .67em 0;
    font: 46px/48px Roboto
}

h2 {
    font: 32px/40px Roboto;
    font-weight: 400;
}

h3 {
    font: 22px/32px Roboto
}

h4 {
    font: 20px/26px Roboto
}

h5 {
    font: 17px/21px Roboto
}

h6 {
    font: 14px/18px Roboto
}

h2,
h3,
h4,
h5,
h6 {
    letter-spacing: .02em
}

code {
    background-color: #fff;
    font-weight: 700
}

.logo {
    float: left;
    padding: 5px;
    background: #000
}

.navbar-inverse {
    background: #474D57
}

.navbar-inverse .navbar-brand {
    color: #fff
}

.nav-pills .fa {
    width: 20px
}

.row-fluid {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex
}

div.container-fluid {
    padding: 0;
    background: #fff
}

.left-doc-nav {
    width: 23%;
    min-width: 233px;
    padding-top: 120px;
    background: #fff;
    height: 100%
}

.docs-content {
    padding-top: 120px;
    width: 80%;
    border-left: 1px solid #ccc
}

.label {
    padding: .5em;
    font-weight: 400;
    line-height: 2.5
}

.get,
.label-default {
    background: #0f6ab4
}

.post {
    background: #10a54a
}

.put {
    background: #c5862b
}

.delete {
    background: #a41e22
}

table {
    width: 100%
}

table tr td {
    padding: 8px;
    border-top: 1px solid #ccc
}

table tr td:nth-child(3) {
    width: 80%
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9
}

.left-nav li.active {
    background-color: #fff
}

.nav-pills li li {
    padding-top: 2px;
    padding-bottom: 2px;
    list-style-type: none;
    margin-left: -40px;
    font-size: 11px
}

.nav>li>a {
    padding: 2px 5px
}

@media (max-width:1500px) {
    .nav-pills li li {
        font-size: 11px
    }
}