/*  SECTIONS  */

@media only screen and (max-width: 1040px) {
.site-width-support	{
	width:70%;
	margin:0px auto;
	text-align:center;
}
.bigArrow	{
	display:none;
}
.site-nav-desktop	{
	display:none;
}
.site-nav-mobile	{
	display:block;
	text-align:right;
	margin-top:9px;
}
.site-nav-mobile ul {
  text-align: left;
  display: inline;
  margin: 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  background:#000000;
  padding-left:10px;
  position:absolute;
  left:-10px;
  top:20px;
  padding-bottom:10px;

}
ul li {
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 0 0 0;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  font-size:13px;
}
ul li:hover {
  color: #fff;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 15px;
  left: 0;
  width: 100vw;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  background: transparent; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { background: transparent; color: #73ecff; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
.col {  margin: 1% 0 1% 0%; }
.length-1-of-4, .length-2-of-4, .length-3-of-4, .length-4-of-4, .length-1-of-3 { width: 100%; }
.site-width	{
	width:70%;
	margin:0 auto;
}
.site-width-alt	{
	width:70%;
	margin:0 auto;
}
div.social-grid	{
	position:relative;
	float:left;
	margin-right:2%;
	color:black;
	width:48%;
	background:white;
}
section.hero	{
	min-height:300px;
}
div.length-1-of-3.text-center img	{
	padding-bottom:20px;
}
section.affiliates	{
	padding-top:50px;
	background:#FFFFFF;
	min-height:250px;
	color:black;
}
footer div.site-width div.col.length-1-of-4.right	{
	text-align:left;
}
.props	{
	padding-top:10px;
	background-image:url(../images/tiles/body/tile-1.jpg);
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size:cover;
	min-height:75px;
}
.product-desc	{
	padding-top:10px;
	background-image:url(../images/tiles/body/tile-2.jpg);
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size:cover;
	min-height:75px;
}
.embed	{
	padding-top:10px;
	background:url(../images/tiles/body/tile-3.jpg);
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size:cover;
	min-height:300px;
	background-attachment:fixed;
}
.download	{
	padding-top:10px;
	background-image:url(../images/tiles/body/tile-4.jpg);
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size:cover;
	min-height:300px;
}
.support	{
	padding-top:10px;
	background-image:url(../images/tiles/body/tile-5.jpg);
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size:cover;
	min-height:300px;
	background-attachment:fixed;
}
/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
.col {  margin: 1% 0 1% 0%; }
.length-1-of-4, .length-2-of-4, .length-3-of-4, .length-4-of-4 { width: 100%; }
.site-width	{
	width:70%;
	margin:0 auto;
	max-width:1080px;
	padding-left:10px;
	padding-right:10px;
}	
section.download div.site-width.push-down	{
	padding-top:0px;
}	
section.props .site-width.push-down	{
	padding-top:0px;
}
}
.btn-default {
    width: 100%;
}

/*
<div class="slice group">
	<div class="col length-1-of-4">
	1 of 4
	</div>
	<div class="col length-1-of-4">
	1 of 4
	</div>
	<div class="col length-1-of-4">
	1 of 4
	</div>
	<div class="col length-1-of-4">
	1 of 4
	</div>
</div>
*/