/*  SECTIONS  */
.slice {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.site-width	{
	width:60%;
	margin:0 auto;
}
.site-width-alt	{
	width:80%;
	margin:0 auto;
}
.site-width-support	{
	width:50%;
	margin-left:10%;
}
.props	{
	padding-top:50px;
	background-image:url(../images/tiles/body/tile-1.jpg);
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	min-height:900px;
	background-size:cover;
}
.product-desc	{
	padding-top:50px;
	background-image:url(../images/tiles/body/tile-2.jpg);
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size:cover;
	min-height:900px;
}
.embed	{
	padding-top:50px;
	background:url(../images/tiles/body/tile-3.jpg);
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size:cover;
	min-height:900px;
}
.download	{
	padding-top:50px;
	background-image:url(../images/tiles/body/tile-4.jpg);
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size:cover;
	min-height:900px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF FOUR  */
.length-4-of-4 {
	width: 100%;
}
.length-3-of-4 {
	width: 74.6%;
}
.length-2-of-4 {
	width: 49.2%;
}
.length-1-of-4 {
	width: 23.8%;
}
.length-1-of-3	{
	width:32.2%;
}
section.hero div.site-width.push-down	{
	padding-top:100px;
}
section.product-desc div.site-width.push-down	{
	padding-top:50px;
}
section.embed div.site-width.push-down	{
	padding-top:50px;
}
section.download div.site-width.push-down	{
	padding-top:50px;
}
section.props .site-width.push-down	{
	padding-top:100px;
}
@media only screen and (min-width: 1024px) {
	section.support	{
	min-height:400px;
}
}
@media only screen and (min-width: 1200px) {
	section.support	{
	min-height:500px;
}
}
@media only screen and (min-width: 1440px) {
	section.support	{
	min-height:600px;
}
}

@media only screen and (max-width: 800px) {
.col {  margin: 1% 0 1% 0%; }
.length-1-of-4, .length-2-of-4, .length-3-of-4, .length-4-of-4, .length-1-of-3 { width: 100%; }
.site-width	{
	width:70%;
	margin:0 auto;
}
.site-width-alt	{
	width:70%;
	margin:0 auto;
}
div.social-grid	{
	position:relative;
	float:left;
	margin-right:2%;
	color:black;
	width:48%;
	background:white;
}
section.hero div.site-width.push-down	{
	padding-top:50px;
}
section.product-desc div.site-width.push-down	{
	padding-top:25px;
}
section.embed div.site-width.push-down	{
	padding-top:25px;
}
section.download div.site-width.push-down	{
	padding-top:25px;
}
section.props .site-width.push-down	{
	padding-top:0px;
}
section.hero	{
	background:black;
	padding-top:50px;
	padding-bottom:50px;
	background-image:url(../images/tiles/hero/tennis.jpg) ;
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size:cover;
	min-height:100px;
}
.props	{
	padding-top:10px;
	background-image:url(../images/tiles/body/tile-1.jpg);
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size:cover;
	min-height:75px;
}
.product-desc	{
	padding-top:10px;
	background-image:url(../images/tiles/body/tile-2.jpg);
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size:cover;
	min-height:75px;
}
.embed	{
	padding-top:10px;
	background:url(../images/tiles/body/tile-3.jpg);
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size:cover;
	min-height:100px;
}
.download	{
	padding-top:10px;
	background-image:url(../images/tiles/body/tile-4.jpg);
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size:cover;
	min-height:100px;
}
section.support	{
	padding-top:10px;
	background-image:url(../images/tiles/body/tile-5.jpg);
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size:cover;
	min-height:300px;
}
/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
.col {  margin: 1% 0 1% 0%; }
.length-1-of-4, .length-2-of-4, .length-3-of-4, .length-4-of-4 { width: 100%; }
.site-width	{
	width:70%;
	margin:0 auto;
	max-width:1080px;
	padding-left:10px;
	padding-right:10px;
}	
section.download div.site-width.push-down	{
	padding-top:0px;
}	
section.props .site-width.push-down	{
	padding-top:0px;
}
section.support	{
	padding-top:10px;
	background-image:url(../images/tiles/body/tile-5.jpg);
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size:cover;
	min-height:300px;
}
}

/*
<div class="slice group">
	<div class="col length-1-of-4">
	1 of 4
	</div>
	<div class="col length-1-of-4">
	1 of 4
	</div>
	<div class="col length-1-of-4">
	1 of 4
	</div>
	<div class="col length-1-of-4">
	1 of 4
	</div>
</div>
*/