.response {
  max-height: 200px;
  overflow-y: scroll;
}

.item {
  float: left;
  text-align: justify;
  width: 170px;
  height: 220px;
  overflow-y: hidden;
  padding: 10px;
  margin: 10px;
  background-color: #ececec;
}

.item img {
  display: block;
  margin: 0 auto;
}
