.response {
  max-height: 550px;
  min-height:40px;
  overflow-y: scroll;
  background: #F7F7F9;
  padding:10px;
  border-radius: 5px;
  border: 1px solid #efefef;
}
.border-bottom {
  border-bottom:1px solid #ccc;
  padding-bottom:30px;
}

.item {
  float: left;
  width: 170px;
  height: 220px;
  overflow-y: hidden;
  padding: 12px;
  margin: 5px;
  background-color: #fff;
  font-size: 10px;
}

.item img {
  display: block;
  margin: 0 auto;
  padding-bottom:5px;
}

.status {
  font-size:12px;
}

td,
th {
  padding: 5px;
  text-align: left;
  font-size: 75%
}

.select-label {
  margin-right: 10px;
  font: 18px/32px HelveticaNeueW01-Thin;
}

.form-group {
  display: block;
  margin-right: 15px;
  margin-top:10px;
}

.square-select {border-radius: none;}

.label-block {display: block;}